<ion-header>
  <ion-toolbar color="`primary">
    <ion-title>
      Notes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addNote()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <ion-list >
    <ion-item 
      color="primary" 
      *ngFor="let note of (notesService.notes | async)" 
      [routerLink]="'/notes/' + note.id" 
      routerDirection="forward">
      <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
